<p id="notice"><%= notice %></p>

<p>
  <strong>Hdindex:</strong>
  <%= @developmentbyregion.hdindex %>
</p>

<p>
  <strong>Region:</strong>
  <%= @developmentbyregion.region %>
</p>

<p>
  <strong>Human development index:</strong>
  <%= @developmentbyregion.human_development_index %>
</p>

<p>
  <strong>Life expectancy at birth:</strong>
  <%= @developmentbyregion.life_expectancy_at_birth %>
</p>

<p>
  <strong>Expected education years:</strong>
  <%= @developmentbyregion.expected_education_years %>
</p>

<p>
  <strong>Mean education:</strong>
  <%= @developmentbyregion.mean_education %>
</p>

<p>
  <strong>Gni capita:</strong>
  <%= @developmentbyregion.gni_capita %>
</p>

<p>
  <strong>Giiindex:</strong>
  <%= @developmentbyregion.giiindex %>
</p>

<%= link_to 'Back', developmentbyregions_path %>
