
<p id="notice"><%= notice %></p>
<h1>Form </h1>

<%= form_with(model: @dev_countries, local: true) do |form| %>

<div class="field">
    <%= form.label :country %>
    <%= form.collection_select :country %>
  </div>

<% end %> 

<%= @dev_countries%>