
  <header class="header_analysis">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Data Analysis</h1>
       
      </div>
    </div>
  </header>

<section id="analysis" class="analysis-section text-center">
    <div class="container">

          <%= form_tag analysis_results_path, :method => :get do |form| %>
          <div class="input-append">
            <%= collection_select :country1, :id, Development.all, :country, :country %>
            <%= collection_select :country2, :id, Development.all, :country, :country %>
            <%= collection_select :country3, :id, Development.all, :country, :country %>
            <%= collection_select :country4, :id, Development.all, :country, :country %>
            <%= collection_select :country5, :id, Development.all, :country, :country %>

           <input type="checkbox" name = "all" /> See All Valuess
            <button type="submit" class="btn">submit</button>
          </div>

        <% end %>

    </div>
</section>
