  <header class="header_analysis">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Analysis Results</h1>
      </div>
    </div>
  </header>

<h2>......................</h2>

<%= @country1%>
<%= @country2%>
<%= @country3%>
<%= @country4%>
<%= @country5%>
<%= @all%>
<%= @data%>
<%= @comparasiondata1%>
<%= @con1%>
<h2>:::::::::::::::::::::::::</h2>