<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @freedom.country %>
</p>

<p>
  <strong>Iso code:</strong>
  <%= @freedom.ISO_code %>
</p>

<p>
  <strong>Region:</strong>
  <%= @freedom.region %>
</p>

<p>
  <strong>Year:</strong>
  <%= @freedom.year %>
</p>

<p>
  <strong>Pf rol:</strong>
  <%= @freedom.pf_rol %>
</p>

<p>
  <strong>Pf ss:</strong>
  <%= @freedom.pf_ss %>
</p>

<p>
  <strong>Pf movement:</strong>
  <%= @freedom.pf_movement %>
</p>

<p>
  <strong>Pf religion:</strong>
  <%= @freedom.pf_religion %>
</p>

<p>
  <strong>Pf association:</strong>
  <%= @freedom.pf_association %>
</p>

<p>
  <strong>Pf expression:</strong>
  <%= @freedom.pf_expression %>
</p>

<p>
  <strong>Pf identity:</strong>
  <%= @freedom.pf_identity %>
</p>

<p>
  <strong>Ef government:</strong>
  <%= @freedom.ef_government %>
</p>

<p>
  <strong>Ef legal:</strong>
  <%= @freedom.ef_legal %>
</p>

<p>
  <strong>Ef money:</strong>
  <%= @freedom.ef_money %>
</p>

<p>
  <strong>Ef trade:</strong>
  <%= @freedom.ef_trade %>
</p>

<p>
  <strong>Ef regulation:</strong>
  <%= @freedom.ef_regulation %>
</p>

<p>
  <strong>Pf score:</strong>
  <%= @freedom.pf_score %>
</p>

<p>
  <strong>Pf rank:</strong>
  <%= @freedom.pf_rank %>
</p>

<p>
  <strong>Ef score:</strong>
  <%= @freedom.ef_score %>
</p>

<p>
  <strong>Ef rank:</strong>
  <%= @freedom.ef_rank %>
</p>

<p>
  <strong>Hf score:</strong>
  <%= @freedom.hf_score %>
</p>

<p>
  <strong>Hf rank:</strong>
  <%= @freedom.hf_rank %>
</p>

<p>
  <strong>Hf quartile:</strong>
  <%= @freedom.hf_quartile %>
</p>

<%= link_to 'Edit', edit_freedom_path(@freedom) %> |
<%= link_to 'Back', freedoms_path %>
