

<%= form_with(model: development, local: true) do |form| %>
  <% if development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(development.errors.count, "error") %> prohibited this development from being saved:</h2>

      <ul>
        <% development.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hdi_rank %>
    <%= form.number_field :hdi_rank %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.collection_select :country %>
  </div>

  <div class="field">
    <%= form.label :human_development_index %>
    <%= form.text_field :human_development_index %>
  </div>

  <div class="field">
    <%= form.label :life_expectancy_at_birth %>
    <%= form.text_field :life_expectancy_at_birth %>
  </div>

  <div class="field">
    <%= form.label :expected_education_years %>
    <%= form.text_field :expected_education_years %>
  </div>

  <div class="field">
    <%= form.label :mean_education %>
    <%= form.text_field :mean_education %>
  </div>

  <div class="field">
    <%= form.label :gni_capita %>
    <%= form.text_field :gni_capita %>
  </div>

  <div class="field">
    <%= form.label :gni_capita_minus_hdi_rank %>
    <%= form.number_field :gni_capita_minus_hdi_rank %>
  </div>

  <div class="field">
    <%= form.label :gii_rank %>
    <%= form.number_field :gii_rank %>
  </div>

  <div class="field">
    <%= form.label :giiindex %>
    <%= form.number_field :giiindex %>
  </div>

  <div class="field">
    <%= form.label :freedom_id %>
    <%= form.text_field :freedom_id %>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
