
  <header class="header_data">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Data</h1>
      </div>
    </div>
  </header>

<br>
<br>
<!-- Bootstrap core CSS -->

   
<!-- Demo by George Martsoukos. <a href="http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions" -->
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
      <%= stylesheet_link_tag "developments"%>


     
    
      <!-- <link href="app/assets/stylesheets/developments.scss" rel="stylesheet"> -->
    <!--  <%= stylesheet_link_tag "application", media: "all" %> -->

<div class="container" >
<h4>Human Freedom and Development Statistics</h4> <%= link_to "Download JSON format", controller: "home", action: "index" %>

 <!--  <div class="row" > -->
    <div class="col-xs-12" >
      <div class="table-responsive" style="max- width:100%; max-height:500px;">
        <!--<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    
        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
         <!-- <caption class="text-center">An example of a responsive table based on <a href="https://getbootstrap.com/css/#tables-responsive" target="_blank">Bootstrap</a>:</caption> --> 
           <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Country">
           <p id="notice"><%= notice %></p>
           <table id="myTable" >
          <thead>
            <tr>
              <th>Human Development Rank</th>
                <th>Country</th>
                <th>Iso code</th>
                <th>Region</th>
                <th>Life Expectancy at Birth</th>
                <th>Expected Years of Education</th>
                <th>Mean Years of Education</th>
                <th>Gross National Income (GNI) per Capita</th>
                <th>GNI per Capita minus HDI Rank</th>
                <th>Gender Inequality Index (GII)</th>
                <th>Rank based on Gender Inequility Index</th>
                <th>Rule of Law</th>
                <th>Security and Safety</th>
                <th>Movement</th>
                <th>Religion</th>
                <th>Association, Assembly, and Civil Society</th>
                <th>Expression and Information</th>
                <th>Identity and Relationships</th>
                <th>Size of Government</th>
                <th>Legal System and Property Rights</th>
                <th>Access to Sound Money</th>
                <th>Freedom to Trade Internationally</th>
                <th>Regulation of Credit, Labor, and Business</th>
                <th>Personal Freedom Score</th>
                <th>Personal Freedom Rank</th>
                <th>Economical Freedom Score</th>
                <th>Economical Freedom Rank</th>
                <th>Human Freedom Score</th>
                <th>Human Freemom Index Rank</th>
                <th>Freedom Quartile</th>
            </tr>
          </thead>
          <tbody>
           <% @developments.each do |development| %>
            <tr>
                  <td><%= development.hdi_rank %></td>
                  <td><%= link_to development.country, development %></td>
                  <td><%= development.freedom.ISO_code %></td>
                  <td><%= development.freedom.region %></td>
                  <td><%= development.life_expectancy_at_birth %></td>
                  <td><%= development.expected_education_years %></td>
                  <td><%= development.mean_education %></td>
                  <td><%= development.gni_capita %></td>
                  <td><%= development.gni_capita_minus_hdi_rank %></td>
                  <td><%= development.giiindex %></td>
                  <td><%= development.gii_rank %></td>
                  <td><%= development.freedom.pf_rol %></td>
                  <td><%= development.freedom.pf_ss %></td>
                  <td><%= development.freedom.pf_movement %></td>
                  <td><%= development.freedom.pf_religion %></td>
                  <td><%= development.freedom.pf_association %></td>
                  <td><%= development.freedom.pf_expression %></td>
                  <td><%= development.freedom.pf_identity %></td>
                  <td><%= development.freedom.ef_government %></td>
                  <td><%= development.freedom.ef_legal %></td>
                  <td><%= development.freedom.ef_money %></td>
                  <td><%= development.freedom.ef_trade %></td>
                  <td><%= development.freedom.ef_regulation %></td>
                  <td><%= development.freedom.pf_score %></td>
                  <td><%= development.freedom.pf_rank  %></td>
                  <td><%= development.freedom.ef_score %></td>
                  <td><%= development.freedom.ef_rank %></td>
                  <td><%= development.freedom.hf_score%></td>
                  <td><%= development.freedom.hf_rank %></td>
                  <td><%= development.freedom.hf_quartile %></td>
            </tr>
             <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">Data retrieved from <a href="https://www.kaggle.com/undp/human-development" target="_blank">Kaggle: Human Developemnt Report (2015)</a> and <a href="https://www.kaggle.com/gsutters/the-human-freedom-index" target="_blank">Kaggle: The Human Freedom Index</a>.</td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
 <!-- </div> -->
</div>

<br>

<script type="text/javascript">
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<div class="container" >

<p id="notice"><%= notice %></p>


<h2>Development by Region</h2>
<div id="container" style="width:100%;height:400px;">
<script type="text/javascript">
$(function () {
var myChart = Highcharts.chart('container', {
    chart: {
        type: 'column',
        
    },
    title: {
        text: 'Human Development Index'
    },
    plotOptions: {
        column: {
            depth: 25
        }
    },
    xAxis: {
        categories: ['Arab States', 'East Asia and the Pacific', 'Europe and Central Asia', 'Latin America and the Caribbean','South Asia', 'Sub-Saharan Africa', 'World']
    },
    series: [{
      name: 'Human Development Index',
      data: <%= raw @devregion_hdi %>
    },{
      name: 'Life Expectancy at Birth',
      data: <%= raw @devregion_lf %>
    }
    ,{
      name: 'Expected education years',
      data: <%= raw @devregion_edu %>
    }
    ,{
      name: 'Mean education',
      data: <%= raw @devregion_meanedu %>
    }
    ,{
      name: 'GNI Capita',
      data: <%= raw @devregion_gni %>
    }
    ,{
      name: 'GNI Index',
      data: <%= raw @devregion_gnindex %>
    }]

});
});

</script>

</div>
</div>