<p id="notice"><%= notice %></p>

<h1>Developments</h1>
<h2>year 2015, info</h2>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Country</th>
      <th>Human Development Index</th>
       <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developments.each do |development| %>
      <tr>
        <td><%= development.hdi_rank %></td>
        <td><%= development.country %></td>
        <td><%= development.human_development_index %></td>
        <td><%= link_to 'Show', development %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>



<h1>Developmentbyregions</h1>

<table>
  <thead>
    <tr>
       <th>Region</th>
      <th>Human development index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developmentbyregions.each do |developmentbyregion| %>
      <tr>
        <td><%= developmentbyregion.region %></td>
        <td><%= developmentbyregion.human_development_index %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<%= link_to 'Show', developmentbyregions_path %>



