<p id="notice"><%= notice %></p>

<p>
  <strong>Hdi rank:</strong>
  <%= @development.hdi_rank %>
</p>

<p>
  <strong>Country:</strong>
  <%= @development.country %>
</p>

<p>
  <strong>Human development index:</strong>
  <%= @development.human_development_index %>
</p>

<p>
  <strong>Life expectancy at birth:</strong>
  <%= @development.life_expectancy_at_birth %>
</p>

<p>
  <strong>Expected education years:</strong>
  <%= @development.expected_education_years %>
</p>

<p>
  <strong>Mean education:</strong>
  <%= @development.mean_education %>
</p>

<p>
  <strong>Gni capita:</strong>
  <%= @development.gni_capita %>
</p>

<p>
  <strong>Gni capita minus hdi rank:</strong>
  <%= @development.gni_capita_minus_hdi_rank %>
</p>

<p>
  <strong>Gii rank:</strong>
  <%= @development.gii_rank %>
</p>

<p>
  <strong>Giiindex:</strong>
  <%= @development.giiindex %>
</p>

<p>
  <strong>Freedom:</strong>
  <%= @development.freedom_id %>
</p>

<%= link_to 'Edit', edit_development_path(@development) %> |
<%= link_to 'Back', developments_path %>
