<p id="notice"><%= notice %></p>
<h2>Human development of <%= @development.country%> in 2015 </h2>
<h4>Development depends on the freedom index of the country</h4>


<p>
  <strong>Human Development Index (HDI):</strong>
  <%= @development.human_development_index %>
</p>

<p>
  <strong>Human Development Index Rank:</strong>
  <%= @development.hdi_rank %>
</p>

<p>
  <strong>Country Human Freedom Index Rank:</strong>
  <%= @development.freedom.hf_rank%>
</p>

<p>
  <strong>Life expectancy at birth:</strong>
  <%= @development.life_expectancy_at_birth %>
</p>

<p>
  <strong>Expected Years of Education:</strong>
  <%= @development.expected_education_years %>
</p>

<p>
  <strong>Mean Years of Education:</strong>
  <%= @development.mean_education %>
</p>

<p>
  <strong>Gross National Income (GNI) per Capita:</strong>
  <%= @development.gni_capita %>
</p>

<p>
  <strong>GNI per Capita minus HDI Rank:</strong>
  <%= @development.gni_capita_minus_hdi_rank %>
</p>

<p>
  <strong>Gender Inequality Index (GII):</strong>
  <%= @development.giiindex %>
</p>


<p>
  <strong>Rank based on Gender Inequility Index:</strong>
  <%= @development.gii_rank %>
</p>



<%= link_to 'Back', developments_path %>

